# OpenAI 配置
OPENAI_API_KEY=
OPENAI_URL=
OPENAI_MODEL=

# 客户端可见的环境变量 (需要前缀 NEXT_PUBLIC_)
NEXT_PUBLIC_LLM_MODEL=deepseek-chat

# 数据库配置
POSTGRES_URL=

NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET= # https://generate-secret.vercel.app/32

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
NEXT_PUBLIC_ALLOW_BACKFILL=true
LMNR_BASE_URL=
LMNR_API_KEY=